body {
    background-color: lightblue;
}

.photo {
    float: right;
    position: relative;
    padding-top: -200px;
}

h3 {
    text-decoration: underline;
    font-size: 30px;
    font-style: oblique;
    color: blue;
}

strong {
    text-decoration: underline;
}
